@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: o;
  overflow-x: hidden;
  -webkit-user-select: none;
  user-select: none;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
  background-color: #FAF6F2;
}

h1,
h2,
h3,
a,
p, span {
  color: #3C1F1C;
}

.link__group a {
  font-weight: 600;
}
.link__group a:hover {
  border-bottom: 1px solid #BA8B64;
}

.header {
  border-bottom: 1px solid #BA8B64;
}

.icon {
  background-color: #3C1F1C;
}
.icon:hover {
  --tw-text-opacity: 1;
  color: rgb(60 31 28/var(--tw-text-opacity));
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

svg {
  transition: stroke 0.2s ease;
}
svg path {
  transition: stroke 0.2s ease;
}

::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #9ca3af;
  border-radius: 50px;
}

.rounded-100 {
  border-radius: 100%;
}

.font-12 {
  font-size: 0.8125rem;
}
.font-13 {
  font-size: 0.8125rem;
}
.font-14 {
  font-size: 0.875rem;
}
.font-16 {
  font-size: 1rem;
}
.font-17 {
  font-size: 1.0625rem;
}
.font-18 {
  font-size: 1.125rem;
}
.font-20 {
  font-size: 1.25rem;
}
.font-21 {
  font-size: 1.3125rem;
}
.font-24 {
  font-size: 1.5rem;
}
.font-28 {
  font-size: 1.75rem;
}
.font-30 {
  font-size: 1.875rem;
}
.font-32 {
  font-size: 2rem;
}
.font-34 {
  font-size: 2.125rem;
}
.font-35 {
  font-size: 2.1875rem;
}
.font-36 {
  font-size: 2.25rem;
}
.font-39 {
  font-size: 2.4375rem;
}
.font-40 {
  font-size: 2.5rem;
}
.font-42 {
  font-size: 2.625rem;
}
.font-50 {
  font-size: 3.125rem;
}
.font-55 {
  font-size: 3.4375rem;
}
.font-64 {
  font-size: 4rem;
}
.font-100 {
  font-size: 6.25rem;
}

.switch-button .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}
.switch-button input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch-button .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switch-button .slider::before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switch-button input:checked + .slider {
  background-color: #fff;
}
.switch-button input:checked + .slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.switch-button .slider.round {
  border-radius: 34px;
}
.switch-button .slider.round::before {
  border-radius: 50px;
}

/*# sourceMappingURL=globals.css.map */
